.DS_Store
__pycache__/
*.py[cod]

.venv/
venv/
.env

data/*
!data/README.md
!data/processed/
data/processed/*
!data/processed/dataset_a_predneurop/
!data/processed/dataset_a_predneurop/**
!data/processed/dataset_b_neuropred_plm_original/
!data/processed/dataset_b_neuropred_plm_original/**
!data/processed/dataset_b_neuropred_plm_standard20/
!data/processed/dataset_b_neuropred_plm_standard20/**
results/
outputs/
predictions/
metrics/
checkpoints/
models/
.cache/

*.pt
*.pth
*.ckpt
*.h5
*.npy
*.npz
*.pkl
*.joblib
